<div class="container mb-3 col-6 margin:auto text-center mt-3" >
<h2> Ask the Coach </h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
